$input-padding: 16px;
$input-border-width: 2px;
$input-color-light: getColor($stone, 50);
$input-color-dark: getColor($stone, 600);
$checkbox-size: 1rem;

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  &:focus {
    outline: none;
  }
}

.input-field {
  display: flex;
  border-radius: $border-radius;
  border-bottom-width: $input-border-width;
  border-bottom-style: solid;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  @include status-color('border-bottom-color', true);

  input[readonly] {
    cursor: default;
  }
  input[disabled] {
    cursor: not-allowed;
  }

    &.no-resize textarea {
        resize: none;
    }
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  min-height: 23px;
  padding-inline-start: $input-padding;
  padding-inline-end: $input-padding;
  width: 100%;
  appearance: none;
}

.input-detail {
  display: flex;
  justify-content: space-between;

  .input-counter {
    color: getColor($gray, 400);
    font-size: 0.75em;
  }
}

.light .input-field,
.input-field {
  background-color: $input-color-light;

  &:hover {
    background-color: getColor($stone, 100);
  }
}

.dark .input-field {
  background-color: $input-color-dark;

  &:hover {
    background-color: getColor($stone, 500);
  }
}

/**
 * text area
 */
.pn-text-area {
  display: inline-flex;
  flex-direction: column;
}

/**
 * select
 */
.pn-select {
  .input-field {
    input[readonly] {
      cursor: pointer;
    }
  }
}

/**
 * checkbox
 */
.pn-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  & > input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  &-label {
    margin-left: 0.25rem;
  }
  
  &.disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }
  
  &.light {
    color: $input-color-dark;
  }
  
  &.dark {
    color: $input-color-light;
  }
}
