$input-padding: 16px;
$input-border-width: 1px;
$input-color-light: var(--pn-color-stone-100);
$input-color-dark: getColor($stone, 600);
$checkbox-size: 1rem;

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  &:focus {
    outline: none;
  }
}

.input-field {
  display: flex;
  border-radius: $border-radius;
  border-bottom-width: $input-border-width;
  border-bottom-style: solid;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 0.25rem 0.5rem;
  @include status-color('border-bottom-color', true);

  input[readonly] {
    cursor: default;
  }
  input[disabled] {
    cursor: not-allowed;
  }

    &.no-resize textarea {
        resize: none;
    }
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  appearance: none;
}

.input-detail {
  display: flex;
  justify-content: space-between;

  .input-counter {
    color: getColor($gray, 400);
    font-size: 0.75em;
  }
}

.light .input-field,
.input-field {
  background-color: $input-color-light;

  &:hover {
    background-color: getColor($stone, 200, 0.5);
  }
}

.dark .input-field {
  background-color: $input-color-dark;

  &:hover {
    background-color: getColor($stone, 500);
  }
}

/**
 * text area
 */
.pn-text-area {
  display: inline-flex;
  flex-direction: column;
}

/**
 * select
 */
.pn-select {
  .input-field {
    input[readonly] {
      cursor: pointer;
    }
  }
  
  .pn-menu .pn-menu-content {
    min-width: 100%;
    z-index: 999;
  }
  
  .pn-card .pn-card-content {
    padding: 0.125rem;
  }
  
  .pn-select-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
  }
  
  &.multiple {
    .pn-select-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.125rem;
      padding: 0.125rem 0.75rem;
      border-radius: 0.143rem;
    }
    &.clearable {
      .pn-select-tag {
        padding-right: 0.125rem;
        
        .pn-select-tag-remove {
          margin-left: 0.25rem;
        }
      }
    }
  }
  
  &:not(&.disabled) {
    .input-field {
      cursor: pointer;
    }
  }
  &.disabled {
    .input-field {
      cursor: not-allowed;
    }
  }
  
  &.light {
    &.multiple {
      .pn-select-tag {
        background-color: var(--pn-color-stone-200);
      }
      
      .pn-select-tag-remove {
        color: var(--pn-color-stone-400);
        &:hover {
          color: var(--pn-color-stone-500);
        }
      }
    }
  }
}

/**
 * checkbox
 */
.pn-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  & > input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  &-label {
    margin-left: 0.25rem;
  }
  
  &.disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }
  
  &.light {
    color: $input-color-dark;
  }
  
  &.dark {
    color: $input-color-light;
  }
}
