.list {
  background-color: getColor($stone, 50);

  &-header {
    border-bottom: 1px solid getColor($stone, 300);
  }

  &-item {
    padding: 4px 16px;
    min-height: 36px;
    align-items: center;
    display: grid;
    grid-template-areas: "prepend content append";
    grid-template-columns: max-content auto max-content;
    background-color: getColor($stone, 50);

    &-link {
      cursor: pointer;

      &:hover {
        background-color: getColor($stone, 200);
      }
    }

    &-disabled {
      cursor: not-allowed;
      color: getColor($stone, 400);

      &:hover {
        background-color: inherit;
      }
    }
  }
}
