.pn-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .pn-menu-content {
    position: absolute;
    top: 32px;
    
    & > .list {
      border: 1px solid getColor($gray, 200);
      border-radius: $border-radius;
      box-shadow: 0 1px 2px getColor($gray, 900, .2);
    }
  }
}