$switch-control-size: 40px;

.pn-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  .pn-switch-label {
    padding-left: 1rem;
  }
  
  .pn-switch-control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .pn-switch-control-background {
      border-radius: 8px;
      height: 14px;
      width: 36px;
    }
    
    .pn-switch-control-input {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 50%;
      @include transition-transform;
      transform: translate(-10px);
      
      & > input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
      }
      
      .pn-switch-control-action {
        border-radius: 50%;
        height: calc($switch-control-size / 2);
        width: calc($switch-control-size / 2);
        box-shadow: 0 2px 4px -1px getColor($gray, 900, .2),0 4px 5px 0 getColor($gray, 900, .14),0 1px 10px 0 getColor($gray, 900, .12);
      }
    }
  }
  
  &.checked {
    .pn-switch-control-input {
      transform: translate(10px);
    }
  }
  
  &.light {
    &.disabled {
      cursor: not-allowed;
      opacity: $disabled-opacity;
    }
    
    .pn-switch-label {
      color:var(--pn-color-gray-600);
    }
    
    .pn-switch-control {
      .pn-switch-control-background {
        background-color: var(--pn-color-gray-400);
      }
      
      .pn-switch-control-input {
        .pn-switch-control-action {
          background-color: var(--pn-color-gray-50);
        }
      }
    }
    
    &.checked {
      .pn-switch-control-background {
        background-color: var(--pn-color-blue-500);
      }
    }
  }
  
  &.dark {
    .pn-switch-label {
      color: var(--pn-color-gray-50);
    }
    
    .pn-switch-control {
      .pn-switch-control-background {
        background-color: var(--pn-color-gray-400);
      }
      
      .pn-switch-control-input {
        .pn-switch-control-action {
          background-color: var(--pn-color-gray-50);
        }
      }
    }
    
    &.checked {
      .pn-switch-control-background {
        background-color: var(--pn-color-blue-500);
      }
    }
  }
}