$table-border-collapse: collapse;
$table-cell-color: getColor($stone, 800);
$table-cell-background-color: $white;
$table-cell-border-color: getColor($stone, 300);
$table-cell-border: 1px solid $table-cell-border-color;
$table-cell-padding: 0.75rem;
$table-cell-padding-small: 0.45rem;
$table-cell-padding-large: 1rem;
$table-cell-font-weight: 600;
$table-header-fixed-shadow: inset 0 -1px 0 $table-cell-border-color;

.pn-table {
  border-collapse: $table-border-collapse;
  width: 100%;
  
  &-overlay {
    overflow: auto;
  }

  .pn-table-cell {
    padding: $table-cell-padding;
    color: $table-cell-color;
    border-bottom: $table-cell-border;
    background-color: $table-cell-background-color;
  }

  &.density {
    &-small  {
      .pn-table-cell {
        padding: $table-cell-padding-small;
      }
    }
    &-medium  {
      .pn-table-cell {
        padding: $table-cell-padding;
      }
    }
    &-large  {
      .pn-table-cell {
        padding: $table-cell-padding-large;
      }
    }
  }

  th.pn-table-cell {
    font-weight: $table-cell-font-weight;
  }

  &.bordered {
    th.pn-table-cell {
      border-top: $table-cell-border;
    }
    .pn-table-cell {
      border-right: $table-cell-border;
      &:first-child {
        border-left: $table-cell-border;
      }
    }
  }
  &.header-fixed {
    th.pn-table-cell {
      position: sticky;
      top: 0;
      box-shadow: $table-header-fixed-shadow;
    }
  }
}
