$flex-direction: row, row-reverse, column, column-reverse;
$flex-wrap: wrap, wrap-reverse, nowrap;

.flex {
  display: flex;

  &-1 {
    flex: 1 1 0%;
  }

  &-auto {
    flex: 1 1 auto;
  }

  &-initial {
    flex: 0 1 auto;
  }

  &-none {
    flex: none;
  }

  // Grow
  &-grow {
    flex-grow: 1;
  }

  &-grow-0 {
    flex-grow: 0;
  }

  // Shrink
  &-shrink {
    flex-shrink: 1;
  }

  &-shrink-0  {
    flex-shrink: 0;
  }

  // Direction
  @each $direction in $flex-direction {
    &-#{$direction} {
      flex-direction: $direction;
    }
  }

  // Wrap
  @each $wrap in $flex-wrap {
    &-#{$wrap} {
      flex-wrap: $wrap;
    }
  }
}
