
$input-color-status: (
  primary: (
    border-color: getColor($blue, 400),
    border-color-hover: getColor($blue, 500),
  ),
  secondary: (
    border-color: getColor($gray, 400),
    border-color-hover: getColor($gray, 500),
  ),
  success: (
    border-color: getColor($green, 400),
    border-color-hover: getColor($green, 500),
  ),
  warning: (
    border-color: getColor($yellow, 400),
    border-color-hover: getColor($yellow, 500),
  ),
  danger: (
    border-color: getColor($red, 400),
    border-color-hover: getColor($red, 500),
  ),
  info: (
    border-color: getColor($sky, 400),
    border-color-hover: getColor($sky, 500),
  )
);
