$justify-items: start, end, center, stretch;
$justify-self: auto, start, end, center, stretch;

.justify {
  // Content
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }

  // items
  @each $items in $justify-items {
    &-items-#{$items} {
      justify-items: $items;
    }
  }

  // self
  @each $items in $justify-self {
    &-self-#{$items} {
      justify-self: $items;
    }
  }
}
