html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  appearance: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

[type="checkbox"],
[type="radio"] {
  appearance: none;
  print-color-adjust: exact;
  user-select: none;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button,
input,
optgroup,
select,
textarea {
  background-color: transparent;
  border-style: none;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}
