html,
body,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

button,
input,
optgroup,
select,
textarea {
  background-color: transparent;
  border-style: none;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}
